html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: black;
}


.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.table {
    display: table;
}
.tr {
    display: table-row;
}
.td {
    display: table-cell;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: black;
}


.window {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 50px;
    background:  white;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
    min-width: 300px;
}

.window .title {
    background: rgb(31, 129, 240);
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}

.window .close {
    position: absolute;
    right: 20px;
    top: 22px;
    cursor: pointer;
}

.window .content {
    padding: 20px;
    color: black;
}

#loading {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 10000;
}


#users {
    display: none;
}

#ui {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}